<div class="columns">
    <div class="column">
    {{#each product}}
    <div class="card mb-3">
        <header class="card-header">
            <p class="card-header-title">Informacion de los Productos</p>
        </header>
        <div class="card-content">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Editar</th>

                </tr>
                <tr>
                    <td>{{ product }}</td>
                    <td>{{ cantidad }}</td>
                    <td>{{ precio }}</td>
                    <td><a href="/products/edit/{{id}}"><i class="fas fa-edit"></i></a></td>
                </tr>
            </table>
        </div>
        <form action="/products/delete/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger" type="submit">Eliminar</button>
        </form>
    </div>
    {{else}}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">No hay Expedientes aun.</p>
            <a href="/files/newFiles" class="button is-success">Agregar un expediente</a>
        </header>
    </div>
    {{/each}}
    
     <div class="card">
        <header class="card-header">
            <p class="card-header-title">Agrega un Producto</p>
            <a href="/products/newProducts" class="button is-success">Agregar una nota</a>
        </header>
    </div>
    </div>

</div>