<div class="rows">
  <div class="card add-card mt-6">
    <header class="card-header">
      <p class="card-header-title">Agrega un Cliente</p>
      <a href="/clientes/newClients" class="button button-login mr-3"><span>Agregar</span></a>

    </header>

  </div>
  {{#each cliente}}
  <div class="card pb-5 mt-6">

    <header class="card-header">
      <p class="card-header-title">Información del cliente</p>
    </header>
    <div class="card-content">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula </th>
          <th>Fecha de nacimiento</th>
          <th>Editar</th>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>{{ lastName }}</td>
          <td>{{ cedula }}</td>
          <td>{{ nacimiento }}</td>
          <td><a href="/clientes/edit/{{id}}"><i class="fas fa-edit"></i></a></td>
        </tr>
      </table>

    </div>
    <form action="/clientes/delete/{{id}}?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <div class="button-delete-container">
        <button class="button-delete mb-5" type="submit"><span>Eliminar</span></button>
      </div>
    </form>
  </div>
  {{/each}}

</div>